<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @shift.position %>
</p>

<p>
  <strong>Date:</strong>
  <%= @shift.date.to_date.to_s(:long) %>
</p>

<p>
  <strong>Start stime:</strong>
  <%= @shift.start_time.to_s(:time) %>
</p>

<p>
  <strong>Finish time:</strong>
  <%= @shift.finish_time.to_s(:time) %>
</p>

<p>
  <strong>Original owner:</strong>
  <%= @shift.original_owner %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @shift.shift_id %>
</p>

<p>
  <strong>Shift posted:</strong>
  <%= @shift.shift_posted %>
</p>

