<%= simple_form_for(@posted_shift) do |f| %>
  <%= f.error_notification %>

  
  <div class="row">
    <div class="col-md-3">
      <%= f.input :position,input_html:{value: @shift.position}, readonly: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :date, as: :date, as: :string, input_html:{value: @shift.date} %>
    </div>
  </div>

  <div class="row">
    <div class="columns col-md-2">
      <%= f.input :start_time, as: :time, as: :string,input_html:{value: @shift.start_time} %>
    </div>
  </div>

  <div class="row">
    <div class="columns col-md-2">
    <%= f.input :finish_time, as: :time, as: :string, input_html:{value: @shift.finish_time}%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.input :status %>
    </div>
  </div>
    <%= f.button :submit %>
  </div>
<% end %>
